<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>NSExtension</key>
	<dict>
		<key>NSExtensionAttributes</key>
		<dict>
			<key>NSExtensionPointVersion</key>
			<string>2.0</string>
			<key>WidgetBackgroundRefreshPolicy</key>
			<string>Always</string>
		</dict>
		<key>NSExtensionPointIdentifier</key>
		<string>com.apple.widgetkit-extension</string>
	</dict>
	<key>UIAppFonts</key>
	<array>
		<string>NIXGONFONTS M 2.0.ttf</string>
		<string>NIXGONFONTS L 2.0.ttf</string>
		<string>NIXGONFONTS B 2.0.ttf</string>
	</array>
</dict>
</plist>
